h1{
    text-align: center;
    font-size: 20px;

}


form{text-align: center;

    

}
.button{
        border-radius: .5em;
        background-color: rgb(152, 152, 221);
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 15px;
        margin: 4px 2px;
        cursor: pointer;
        height: 1em;
        width: 17em;
        line-height:5%;
      }

      .button:focus{
        background-color:  rgb(97, 97, 167);
        border: rgb(97, 97, 167) solid;
      }

      .button:hover{
        background-color:rgba(97, 97, 167, 0.774);
    }

label{
    margin: 4px 2px;
    padding: 0px 0px;
    font-size: 10px;
    margin-left: -22em ;

}

input{
    margin: 4px 2px;
    padding: 0px 0px;
    background-color: rgb(207, 207, 207);
    border-radius: .5em;
    border: 0ch;
    height: 2em;
    width: 19em;
    line-height:5%;
    
}
input:focus{
    border: rgb(97, 97, 167) solid;
}

input:hover{
    background-color:rgba(97, 97, 167, 0.158);
    border: rgb(97, 97, 167) solid;
}

input ::placeholder{
    color: rgb(99, 99, 99);


}